
/* The font of the site brand. */
.navbar-brand {
    font-family: @font-family-comic;
    font-size: large;
}

/* Don't display breadcrumb and page header. */
.breadcrumb, .page-header {
    display: none;
}

/* The header of the front page. */
#boxes-box-headerbox {
    h1 {
	color: #ff0000;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
    }
}

/* Styles of the main content. */
#block-system-main {
    .node {
	h2 {
	    margin-top: 5px;

	    a {
		text-decoration: none;
	    }
	}

	.submitted {
	    display: none;
	}

	.content {
	    padding-bottom: 15px;
	    margin-bottom: 10px;
	    border-bottom: 1px solid #ccc;

	    .field-name-field-tags {
		display: none;
	    }
	}

	.links {
	    display: none;
	}
    }
}
